.aside__nav {
  flex-grow: 1;
  width: 115px;
  min-height: calc(100vh - 90px);
  position: sticky;
  background-color: black;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 115px;
    position: fixed;
    top: 0%;
  }
  p {
    position: fixed;
    transform: rotate(-90deg) translateY(-55%);
    color: white;
    font-size: 1.2rem;
    bottom: 100px;
  }
}
