.aside__nav {
  flex-grow: 1;
  max-width: 115px;
  min-height: calc(100vh - 90px);
  background-color: black;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 115px;
  }
}
