.dashboard {
  .container {
    padding: 55px 100px;
    flex-grow: 1;
    max-width: calc(100vw - 115px);
    &__data {
      display: flex;
      &--graph {
        width: calc(100% - 265px);
        min-width: 800px;
      }
      &--stats {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        justify-content: space-between;
        .stat__card {
          width: 260px;
          height: 125px;
          background: #fbfbfb;
          display: flex;
          gap: 25px;
          padding: 30px;
          &--data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 2rem;
            line-height: 24px;
            font-weight: 700;
            color: #282d30;
            span {
              display: block;
              &:nth-last-child(1) {
                font-size: 1.4rem;
                font-weight: 500;
                color: #74798c;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
  }
  h1 {
    color: $primary;
    font-size: 1.8rem;
    span {
      font-size: 4.8rem;
      display: block;
      margin-bottom: 35px;
      strong {
        color: $secondary;
      }
    }
  }
}
