.wip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  height: calc(100vh - 90px);
  flex-grow: 1;
  text-align: center;
  h1 {
    font-size: 3rem;
    margin-bottom: 25px;
    width: 50%;
    line-height: 1.2;
    font-weight: 500;
  }
  a {
    font-size: 1.8rem;
    color: $secondary;
    transition: all 0.2s ease;
    font-weight: 600;
    &:hover {
      color: darken($secondary, 10%);
    }
  }
}
